{
  "realm": "${CLIENT_SSO_REALM}",
  "auth-server-url": "${CLIENT_SSO_HOST}",
  "ssl-required": "external",
  "resource": "${CLIENT_SSO_CLIENTID}",
  "public-client": true,
  "confidential-port": 0
}